<p><h1>Welcome to Pizza Shop</h1></p>


<div class="row">
<% @products.each do|p|%>
<div class="col-md-3">
	<div>
	<%= p.title %>
	</div>
	<div><img src="<%= p.path_to_image%>" width="250" height="200"></div>
	<div>
		<%= p.description %>
	</div>
	<div>
		<b>Size:</b><%= p.size %> cm
	</div>
	<div>
		<b>Price:</b><%= p.price %> rub
	</div>
	<div>
		<button type="submit" class="btn btn-sm btn-success">Add to card</button>
	</div>
</div>
<% end%>
</div>
<br>
<br>
<button type="submit" class="btn btn-primary " onclick="something()">Click me</button>
